@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    gap: 20px;
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: #00000059 0px 5px 15px;
    border-radius: 15px;
    background-color: #262626;
    padding: 15px;
    transition: .4s ease-in-out;
}

.inputForm{
    padding: 6px;
    height: 45px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

.inputForm:focus{
    outline: none;
}

.btnForm{
    background-color: #0094d3;
    padding: 8px;
    border-radius: 6px;
    border: none;
    color: white;
    margin-left: 10px;
    padding-top: 5px;
    transition: .4s ease;
    transform: translate(0,4px);
}

.bi.bi-search{
    font-size: 28px;
    cursor: pointer;
}

.btnForm:hover{
    transform: scale(1.1) translate(0,4px);
}

.prevision{
    display: none;
    width: 100%;
    text-align: center;
}

.info{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#titulo{
    font-size: 30px;
    font-weight: 400;
}

.infoPrev{
    font-weight: 300;
    font-size: 23px;
    opacity: .6;
}

#temperature{
    font-size: 25px;
    font-weight: bold;
}

.subInfo{
    font-size: 21px;
    width: 210px;
}

.wind{
    font-size: 21px;
    font-weight: bold;
    margin-top: 10px;
}

.iconDay{
    margin-top: -15px;
}

footer{
    font-size: 15px;
}

.linkGitHub{
    color: rgb(0, 204, 204);
}

@media screen and (max-width: 530px) {
    .container{
        width: 90vw;
    }
}

@media screen and (max-width: 3880px) {
    #titulo{
        font-size: 23px;
    }
}
